/* Write your CSS here */
.inactive-container {
  display: flex;
  justify-content: center;
  width: 40%;
  padding: 30px;
}
.para {
  color: #64748b;
  font-family: 'Roboto';
  font-size: 25px;
  text-align: center;
  font-style: oblique;
}
.active-container {
  width: 40%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.registeredImg {
  width: 30%;
}
.registeredHead {
  font-size: 35px;
  text-align: center;
}

.yetToRegisteredImg {
  width: 80%;
}
.registerBtn {
  color: white;
  border: 0px;
  outline: none;
  box-shadow: 10px;
  width: 35%;
  background-color: #0967d2;
  height: 35px;
  border-radius: 10px;
}
.img {
  width: 60%;
}

@media (max-width: 767px) {
  .registeredHead {
    font-size: 17px;
  }
  .para {
    font-size: 15px;
  }
}
