/* Write your CSS here */
.eventImg {
  width: 100%;
}
.btn {
  width: 100%;
  padding: 0px;
  border-radius: 10px;
  border: 0px;
}
.li {
  width: 40%;
  margin-bottom: 10px;
}
.name {
  color: white;
  font-weight: 400;
  font-size: 20px;
  margin-top: 5px;
  margin-bottom: 10px;
}
.location {
  color: white;
  font-size: 17px;
}

@media (max-width: 767px) {
  .name {
    font-size: 14px;
  }
  .location {
    font-size: 12px;
  }
}
